.citybg {
  background-image: url(../../../assets/img/citybg.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  min-height: 900px; 
}
.city {
  display: flex; 
  padding-top: 80px; 
  flex-wrap: wrap; 
}
mat-expansion-panel {
  margin: 20px; 
  background-color: #C5CAE9;
  max-width: 500px; 
}

mat-panel-title {
  font-size: 32px; 
}

.title {
  justify-content: center; 
}

.example-card {
  width: 400px; 
}

.picsum-img-wrapper img {
  object-fit: cover; 
  height: 100%;
  width: 100%; 
}

.navigation-items {
  list-style: none; 
  padding:0;
  margin: 0; 
}

.nav-caption {
  line-height: 20px; 
  padding-left: 6px;
  font-size: 32px;
  font-weight: 400;
}
