<div class="citybg">
  <section class="city" fxLayout fxLayoutAlign="center">
  <!--** 1 -->
  <mat-expansion-panel class="smaller">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li>
            <img src="../../assets/img/brazil.png" height="35"width="35">
            <span class="nav-caption">Contato Brasil</span>
          </li>
          </ul>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="example-card">
      <mat-list>
        <mat-list-item> Tel: XXX-XXX-XXXX </mat-list-item>
        <mat-list-item> E-mail: xxx@xxx.com </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-expansion-panel>

  <!--** 2 -->
  <mat-expansion-panel class="smaller">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li>
            <img src="../../assets/img/argentina.png" height="35"width="35">
            <span class="nav-caption">Contato Argentina</span>
          </li>
          </ul>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="example-card">
      <mat-list>
        <mat-list-item> Tel: XXX-XXX-XXXX </mat-list-item>
        <mat-list-item> E-mail: xxx@xxx.com </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-expansion-panel>

  <!--** 3 -->
  <mat-expansion-panel class="smaller">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li>
            <img src="../../assets/img/russia.png" height="35"width="35">
            <span class="nav-caption">Contato Rússia</span>
          </li>
          </ul>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="example-card">
      <mat-list>
        <mat-list-item> Tel: XXX-XXX-XXXX </mat-list-item>
        <mat-list-item> E-mail: xxx@xxx.com </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-expansion-panel>


  </section>
</div>
  