<mat-toolbar color="primary" class="footer">

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <a routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Início</span>
        </a>
      </li>
      <li>
       
        <a routerLink="/schedule">
        <mat-icon>sports_soccer</mat-icon>
        <span class="nav-caption">O Clube</span>
        </a>
      </li>
      <li>
        <a routerLink="/city">
        <mat-icon>location_city</mat-icon>
        <span class="nav-caption">A Cidade</span>
        </a>
      </li>
      <li>
        <a routerLink="">
        <mat-icon>videocam</mat-icon>
        <span class="nav-caption">Mídia</span>
        </a>
      </li>
      <li>
        <a routerLink="">
        <mat-icon>email</mat-icon>
        <span class="nav-caption">Contato</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
