<div class="citybg">
  <section class="city" fxLayout fxLayoutAlign="center">
    <!--** 1 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Localização
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/img/local.png"
          alt="Itarema Ceará"
        />
      </mat-card>
    </mat-expansion-panel>
  
    <!--** 2 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          História
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/img/history.png"
          alt="História de Itarema"
        />
        <mat-card-content>
          <p>
            As terras às margens do rio Aracatiaçu eram habitadas pelos índios
            Tremembé, antes da chegada das entradas de franceses e portugueses,
            bem como das missões religiosas portugueses que tinham como intuito a
            catequização dos indígenas.
          </p>
          <p>
            Desta missões e seus remanejamentos dos indígenas surgiu a povoação,
            que no mapa Plano da costa do Brasil desde o Ceará até a Ilha de S.
            João, confeccionado por José Patrício de Souza, em 1790, está indicada
            como Aldeia do Caju.
          </p>
  
          <p>
            Os padres que dirigiam a missão eram da ordem de São Pedro, que com a
            expulsão dos jesuítas em 1759, por ordens do Marquês do Pombal, os
            padres da ordem de São Pedro e uma parte dos Tremembé deslocaram os
            índios para o Soure e poucos anos depois devido a não adaptação os
            índios retornam a vila.
          </p>
  
          <p>
            No ano de 1870, uma nova capela foi construída, esta dedicada à Nossa
            Senhora dos Navegantes e entre 1908/1909 esta foi reconstruída como
            Igreja-Matriz de Nossa Senhora de Fátima. O seu primeiro pároco foi o
            padre Antônio Thomaz.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  
    <!--** 3 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Economia
        </mat-panel-title>
        
      </mat-expansion-panel-header>
  
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/img/economy.jpg"
          alt="Economia de Itarema"
        />
        <mat-card-content>
          <p>
            A economia local é baseada na agricultura, com a produção de Algodão arbóreo e herbáceo, caju, mandioca, milho e feijão. E na aquicultura, com destaque para peixe, camarão e lagosta, estes são exportados em grande escala para outros continentes como o europeu e asiático, e para a América do norte.
          </p>
          <p>
            Também se destaca no comércio varejista com supermercados, farmácias, depósitos de construção, lojas de roupas, boutiques, frigoríficos, lojas de móveis e eletrodomésticos e eletrônicos, mercadinhos, mercearias, padarias, lojas de variedades, lanchonetes e restaurantes. O artesanato também é uma outra fonte de renda, desde à confecção de bijuterias a redes e bordados.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  
    <!--** 4 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Turismo
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/img/tourism.jpg"
          alt="Turismo de Itarema"
        />
        <mat-card-content>
          <mat-list>
            <mat-list-item> Principais pontos turísticos: </mat-list-item>
            <mat-list-item> Praia do Porto </mat-list-item>
            <mat-list-item> Farol de Itapajé </mat-list-item>
            <mat-list-item> Praia da Tijuca </mat-list-item>
            <mat-list-item> Praia de Almofala </mat-list-item>
            <mat-list-item> Ilha do Guajirú </mat-list-item>
            <mat-list-item> Praia dos Torrões </mat-list-item>
            <mat-list-item> Enseada dos Patos </mat-list-item>
            <mat-list-item> Igreja Matriz de Itarema </mat-list-item>
            <mat-list-item> Praça Pedra Cheirosa </mat-list-item>
            <mat-list-item> Museu Vicente de Paula Rios </mat-list-item>
            <mat-list-item> Mercado Público </mat-list-item>
            <mat-list-item> Porto dos Barcos </mat-list-item>
            <mat-list-item> Mangue da Ilha </mat-list-item>
            <mat-list-item> Rio Aracati-Mirim </mat-list-item>
           </mat-list>
           
        </mat-card-content>
      </mat-card>
      
    </mat-expansion-panel>
  
    <!--** 5 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Links
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../assets/img/hall.jpg"
          alt="Turismo de Itarema"
        />
        <mat-card-content>
          <mat-list>
            <mat-list-item> <a href="https://www.itarema.ce.gov.br/">Prefeitura</a> </mat-list-item>
  
            <mat-list-item> <a href="https://www.tripadvisor.com.au/Tourism-g2108588-Itarema_State_of_Ceara-Vacations.html?fid=42fe0270-2ce7-4008-868f-f6cbbc8289ae">Trip Advisor</a> </mat-list-item>
    
            <mat-list-item> <a href="https://pt.wikipedia.org/wiki/Itarema">Wikipedia</a> </mat-list-item>
            
            
           </mat-list>
           
        </mat-card-content>
      </mat-card>
      
    </mat-expansion-panel>
  
    <!--** 6 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Fotos
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-card class="photo-card">
        <ngb-carousel>
          <!--** Slide 1-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f2.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 2-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f3.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 3-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f4.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 4-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f5.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 5-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f6.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 6-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f7.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 7-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f8.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 8-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f9.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 9-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f10.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          <!--** Slide 10-->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper" id="test">
              <img src="../../assets/img/f11.JPG" alt="Angular Carousel 1">
            </div>
          </ng-template>
          
        </ngb-carousel>
      </mat-card>
    </mat-expansion-panel>
  
    
  </section>
  
</div>
