.citybg {
  background-image: url(../../assets/img/citybg.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  min-height: 900px; 
}
.city {
  display: flex; 
  padding-top: 80px; 
  flex-wrap: wrap; 
}

.title {
  justify-content: center; 
}

.example-card {
  width: 400px; 
  margin-bottom: 20px; 
  background-color: #C5CAE9
}


.nav-caption {
  line-height: 20px; 
  padding-left: 12px;
  font-size: 32px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: lightgray
}


