<div class="citybg">
  <section class="city" fxLayout="column" fxLayoutAlign="space-around center">
 

  <mat-card class="example-card">
    <mat-list>
      <mat-list-item> <a href="tel:5555555">
        <fa-icon [icon]="faPhone" size="2x"></fa-icon>
        <span class="nav-caption">(xx)xxxx-xxxx</span>
        </a> </mat-list-item>
        </mat-list>
  </mat-card>

  <mat-card class="example-card">
    <mat-list>
      <mat-list-item> <a href="mailto:xxx@xxx.com.br">
        <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
        <span class="nav-caption">xxx@xxxcom.br</span>
        </a> </mat-list-item>
        </mat-list>
  </mat-card>

  <mat-card class="example-card">
    <mat-list>
      <mat-list-item> <a href="https://www.facebook.com/profile.php?id=100006503886321">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
        <span class="nav-caption">Facebook</span>
        </a> </mat-list-item>
        </mat-list>
  </mat-card>

  <mat-card class="example-card">
    <mat-list>
      <mat-list-item> <a href="https://www.instagram.com/itaremaec/">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        <span class="nav-caption">Instagram</span>
        </a> </mat-list-item>
        </mat-list>
  </mat-card>

  </section>
</div>
  

  