

mat-toolbar {
  height: 10%; 
}

.sticky {
  position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

}

mat-icon {
   
  display: inline-flex; 
  vertical-align: middle; 
  margin-bottom: 5px; 
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray
}

#logo img {
  max-height: 80px;
  max-width: 100px;
}

.navigation-items {
  list-style: none; 
  padding:0;
  margin: 0; 
}

.nav-caption {
  line-height: 20px; 
  padding-left: 6px;
  font-size: 16px;
  font-weight: 400;
}

.torneio {
  padding-left: 36px; 
}

li {
  display: flex;
  justify-content: center;
  align-items: center; 
}