html, body {
  height: 100vh;
}

.picsum-img-wrapper { 
  height: 900px;
  width: 100%;
  
}

.picsum-img-wrapper img {
  object-fit: cover; 
  height: 100%;
  width: 100%; 
}


ngb-carousel img {
  object-fit: cover;
}