<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
   Start
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>LOGO</div>
      <div>
        <ul >
          <li><a routerLink="/schedule">Tabela</a></li>
          <li><a routerLink="/accomodation">Hospedagem</a></li>
        </ul>
        
        
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
