<div class="citybg">
  <section class="city" fxLayout fxLayoutAlign="center">
  
  <!--** 1 -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Notícias 
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="photo-card">
      <ngb-carousel>
        <!--** Slide 1-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f2.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 2-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f3.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 3-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f4.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 4-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f5.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 5-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f6.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 6-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f7.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 7-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f8.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 8-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f9.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 9-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f10.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 10-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f11.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        
      </ngb-carousel>
    </mat-card>
  </mat-expansion-panel>

  <!--** 2 -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Fotos
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="photo-card">
      <ngb-carousel>
        <!--** Slide 1-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f2.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 2-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f3.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 3-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f4.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 4-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f5.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 5-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f6.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 6-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f7.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 7-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f8.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 8-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f9.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 9-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f10.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 10-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f11.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        
      </ngb-carousel>
    </mat-card>
  </mat-expansion-panel>

  <!--** 3 -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Videos
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="photo-card">
      <ngb-carousel>
        <!--** Slide 1-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f2.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 2-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f3.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 3-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f4.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 4-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f5.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 5-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f6.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 6-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f7.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 7-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f8.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 8-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f9.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 9-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f10.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        <!--** Slide 10-->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="test">
            <img src="../../assets/img/f11.JPG" alt="Angular Carousel 1">
          </div>
        </ng-template>
        
      </ngb-carousel>
    </mat-card>
  </mat-expansion-panel>


  
</section>

</div>
